# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/``
*.env

# Logs and databases
logs/
*.log
*.sqlite3
*.db

# Selenium & Scrapy related files
*.session
.scrapy/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS-specific files
.DS_Store
Thumbs.db

# Git-related
.git/
